In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("Bank_data.csv")

In [4]:
dataset.head()

,loan_id,married,gender,dependency,Self_Employee,Applicant,coapplicant,Loan_amount,creadit_his,propert,loan_status
0,LN1000,Yes,Female,0,Yes,17154.0,13688.0,133487.0,0.0,Rural,Rejected
1,LN1001,Yes,Male,0,Yes,NaN,2995.0,50849.0,1.0,Urban,Rejected
2,LN1002,Yes,Male,1,No,21923.0,3046.0,85520.0,0.0,Semiurban,Rejected
3,LN1003,NaN,Female,3+,No,19718.0,14947.0,NaN,1.0,Rural,Rejected
4,LN1004,Yes,Female,3+,Yes,9636.0,319.0,299794.0,0.0,Rural,Rejected

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   loan_id        618 non-null    object
 1   married        595 non-null    object
 2   gender         586 non-null    object
 3   dependency     601 non-null    object
 4   Self_Employee  593 non-null    object
 5   Applicant      580 non-null    float64
 6   coapplicant    591 non-null    float64
 7   Loan_amount    586 non-null    float64
 8   creadit_his    592 non-null    float64
 9   propert        591 non-null    object
 10  loan_status    593 non-null    object
dtypes: float64(4), object(7)
memory usage: 53.2+ KB

In [6]:
dataset.isnull().sum()

loan_id           0
married          23
gender           32
dependency       17
Self_Employee    25
Applicant        38
coapplicant      27
Loan_amount      32
creadit_his      26
propert          27
loan_status      25
dtype: int64

In [11]:
dataset["dependency"].value_counts() #Find the most common dependency

dependency
1    179
2    159
0    141
3    139
Name: count, dtype: Int64

In [8]:
dataset["dependency"].fillna(dataset["dependency"].mode()[0] , inplace=True)

C:\Users\lenovo\anaconda3\ipykernel_9800\4009100884.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["dependency"].fillna(dataset["dependency"].mode()[0] , inplace=True)

In [9]:
dataset["dependency"].replace("3+", "3", inplace=True) #Replace "3+" with "3"

In [10]:
dataset["dependency"] = dataset["dependency"].astype("Int64") # convert to int64