In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys

In [2]:
dataset = pd.read_csv("Bank_data.csv")
print(sys.executable)

c:\Users\lenovo\AppData\Local\Programs\Python\Python313\python.exe

In [3]:
dataset.head(4)

,loan_id,married,gender,dependency,Self_Employee,Applicant,coapplicant,Loan_amount,creadit_his,propert,loan_status
0,LN1000,Yes,Female,0,Yes,17154.0,13688.0,133487.0,0.0,Rural,Rejected
1,LN1001,Yes,Male,0,Yes,NaN,2995.0,50849.0,1.0,Urban,Rejected
2,LN1002,Yes,Male,1,No,21923.0,3046.0,85520.0,0.0,Semiurban,Rejected
3,LN1003,NaN,Female,3+,No,19718.0,14947.0,NaN,1.0,Rural,Rejected

In [4]:
dataset.isnull().sum()

loan_id           0
married          23
gender           32
dependency       17
Self_Employee    25
Applicant        38
coapplicant      27
Loan_amount      32
creadit_his      26
propert          27
loan_status      25
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   loan_id        618 non-null    object
 1   married        595 non-null    object
 2   gender         586 non-null    object
 3   dependency     601 non-null    object
 4   Self_Employee  593 non-null    object
 5   Applicant      580 non-null    float64
 6   coapplicant    591 non-null    float64
 7   Loan_amount    586 non-null    float64
 8   creadit_his    592 non-null    float64
 9   propert        591 non-null    object
 10  loan_status    593 non-null    object
dtypes: float64(4), object(7)
memory usage: 53.2+ KB

In [6]:
dataset.select_dtypes(include="float64").columns

Index(['Applicant', 'coapplicant', 'Loan_amount', 'creadit_his'], dtype='object')

In [7]:
from sklearn.impute import SimpleImputer

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
si = SimpleImputer(strategy="mean")
si.fit_transform(dataset[['Applicant', 'coapplicant', 'Loan_amount', 'creadit_his']])