In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Bank_data.csv")

In [4]:
dataset.isnull().sum()

loan_id           0
married          23
gender           32
dependency       17
Self_Employee    25
Applicant        38
coapplicant      27
Loan_amount      32
creadit_his      26
propert          27
loan_status      25
dtype: int64

In [5]:
dataset["gender"].fillna(dataset["gender"].mode()[0], inplace=True)

C:\Users\lenovo\anaconda3\ipykernel_11740\3960482366.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["gender"].fillna(dataset["gender"].mode()[0], inplace=True)

In [8]:
dataset.isnull().sum()

loan_id           0
married           0
gender            0
dependency       17
Self_Employee    25
Applicant        38
coapplicant      27
Loan_amount      32
creadit_his      26
propert          27
loan_status      25
dtype: int64

In [7]:
dataset["married"].fillna(dataset["married"].mode()[0], inplace=True)

C:\Users\lenovo\anaconda3\ipykernel_11740\19661528.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["married"].fillna(dataset["married"].mode()[0], inplace=True)

In [9]:
en_data = dataset[["gender", "married"]]
en_data

     gender married
0    Female     Yes
1      Male     Yes
2      Male     Yes
3    Female      No
4    Female     Yes
..      ...     ...
613  Female      No
614  Female      No
615    Male     Yes
616  Female      No
617  Female      No

[618 rows x 2 columns]

In [12]:
pd.get_dummies(en_data).info() # one-hot encoding

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender_Female  618 non-null    bool
 1   gender_Male    618 non-null    bool
 2   married_No     618 non-null    bool
 3   married_Yes    618 non-null    bool
dtypes: bool(4)
memory usage: 2.5 KB

In [ ]:
from sklearn.preprocessing import OneHotEncoder  # Import OneHotEncoder from sklearn.preprocessing

In [24]:
ohe = OneHotEncoder(drop="first")  # Create an instance of OneHotEncoder with drop ='first'& drop first is used to drop the first category of the categorical variable
ar = ohe.fit_transform(en_data).toarray() # Fit the encoder and transform the data

In [25]:
ar

array([[0., 1.],
       [1., 1.],
       [1., 1.],
       ...,
       [1., 1.],
       [0., 0.],
       [0., 0.]], shape=(618, 2))

In [26]:
pd.DataFrame(ar, columns=["gender_Male", "married_Yes"]) #Use dateframe to make it easier to work with

     gender_Male  married_Yes
0            0.0          1.0
1            1.0          1.0
2            1.0          1.0
3            0.0          0.0
4            0.0          1.0
..           ...          ...
613          0.0          0.0
614          0.0          0.0
615          1.0          1.0
616          0.0          0.0
617          0.0          0.0

[618 rows x 2 columns]