In [ ]:
import pandas as pd

In [2]:
dataset = pd.read_csv("health_dataset.csv")

In [3]:
dataset.head()

   Glucose  Blood Pressure  Skin Thickness   BMI  Age  Outcomes
0      172             118              35  31.0   20         0
1      162              86              21  25.9   52         1
2       84             108              35  31.8   58         0
3      176              72              22  19.5   23         0
4      141              92              49  37.2   42         1

In [19]:
dataset.shape

(500, 6)

In [7]:
input_data = dataset.iloc[: ,: -1]
output_data = dataset["Outcomes"]

In [9]:
output_data

0      0
1      1
2      0
3      0
4      1
      ..
495    1
496    1
497    0
498    0
499    1
Name: Outcomes, Length: 500, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split    # Import train_test_split function because we want to split our dataset into two subsets for training and testing the model

In [14]:
x_train , x_test , y_train , y_test = train_test_split(input_data, output_data , test_size=0.25)

In [15]:
x_train

     Glucose  Blood Pressure  Skin Thickness   BMI  Age
421       78              73              15  30.0   72
480      110              61              16  37.4   39
73       132              70              32  18.7   54
371       77              70              38  35.3   64
255      112              65              26  33.4   58
..       ...             ...             ...   ...  ...
106      155              69              38  20.7   55
354      193              68              24  28.9   39
251      196              78              43  33.0   79
99       165              76              28  27.0   79
77        74             119              38  31.4   46

[375 rows x 5 columns]

In [16]:
x_test

     Glucose  Blood Pressure  Skin Thickness   BMI  Age
130      187              75              27  21.9   66
15       157              64              37  33.2   62
412      192              82              20  26.1   74
235      115              63              35  18.6   64
249      101             108              39  39.4   66
..       ...             ...             ...   ...  ...
285      122              90              31  35.9   26
225      118              76              31  19.3   60
266       77              92              46  33.0   57
423       76              99              22  25.7   73
132      182              63              19  23.2   28

[125 rows x 5 columns]

In [17]:
y_train

421    1
480    0
73     1
371    1
255    1
      ..
106    1
354    1
251    0
99     1
77     0
Name: Outcomes, Length: 375, dtype: int64

In [18]:
y_test

130    0
15     1
412    1
235    1
249    1
      ..
285    1
225    1
266    1
423    1
132    1
Name: Outcomes, Length: 125, dtype: int64

In [ ]:
x_train.shape , y_train.shape , x_test.shape , y_test.shape #spliting the data into training and testing sets

((375, 5), (375,), (125, 5), (125,))